{% extends "base.html" %}

{% block title %}Мои заказы — FoodBonus{% endblock %}

{% block content %}

<h1>Мои заказы</h1>

<div class="order-list">
    {% for order in orders %}
        <article class="order-item">
            <span class="order-name">
                {{ order.dish.name }}
            </span>

            <span class="order-price">
                {{ order.dish.price }} ₽
            </span>
        </article>
    {% empty %}
        <p>У вас пока нет заказов.</p>
    {% endfor %}
</div>

{% endblock %}